:root {
    --primary: #9B2915; 
    --secondary: #E9B44C; 
    --grey: #aaa; 
    --dark: #1C110A; 
    --light: #E4D6A7
}

*{ 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font-family: 'Open Sans', sans-serif;

}

body {background: var(--light); 
    font-size: 16px 
}

main { padding: 4rem 2rem; 
    max-width: 1200px; 
    margin: 0 auto; 

}

h1 {
    font-size: 2rem ;
    color: var(--dark); 
    font-weight: 900; 
    text-transform: uppercase; 
    margin-bottom: 1rem 

}
